```text
   # Ignore compiled code and system settings# Ignore Maven build output
target/
build/

# Ignore Eclipse system settings
.settings/
.classpath
.project

# Ignore Mac system files (just in case)
.DS_Store